.body {
  /* Template 2-Mobile-Main */
  position: relative;
  width: 375px;
  height: 5410px;

  /* Neutrals/N10 */
  background: #f7f7f9;
}

.header {
  /* Neutrals/N0 */
  background: #fff;

  /* header-background-image */
  background-image: url('ressources/header-shapes mobile.png');
  position: absolute;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.navmenu #myLinks {
  display: none;
}

.logo {
  /* My Logo */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navmenu {
  align-content: center;
}

/* Style navigation menu links */
.topnav a {
  font-family: "Inter", sans-serif;
  color: #6070ff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: #6070ff;
  content: inherit;
  display: block;
  position: absolute;
  right: 0;
  align-self: center;
}

/* Add the background color on mouse-over */
.topnav a:hover {
  color: #36b37e;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}

/* Headline CSS */
.background-image {
  display: flex;
}

.headline {
  margin-top: 40px;
  font-family: Inter, Roboto, sans-serif;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  padding: 114px 24px 114px 24px;
}

.headline-text1 {
  color: #172b4d;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
}

.headline-text2 {
  color: #36b37e;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: center;
}

.headline-details {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  flex: none;
  margin: 24px 10px;
}

/* Wrap list in a FLexbox */
.icon-list {
  flex: auto;
}

/* Style all font awesome icons */
.fa {
  color: #172b4d;
  font-size: 18px;
  padding: 10px;
  width: 30px;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #36b37e;
}
