/* BODY  */
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

body {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  background: white;
  border-bottom-left-radius: 100px;
  background-image: url('ressources/header-shapes mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.topnav {
  margin-top: 24px;
  width: 400px;
  max-width: 100%;
  display: inline-grid;
  grid-template-columns:
    [first] 5%
    [line2] 50%
    [line3] 20%
    [line4] 20%
    [five] 5% [end];
  place-self: center stretch;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #6060ff;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  grid-column-start: 4;
  grid-column-end: 4;
  color: #6060ff;
  place-self: center;
}

.nav-menu a {
  color: white;
  font-size: 32px;
  display: flex;
}

.topnav a:hover {
  color: #36b37e;
}

.topnav .logo {
  grid-column-start: 2;
  grid-column-end: 2;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #6060ff;
}

.logo:hover {
  transform: rotate(-360deg);
  transition-duration: 5s;
}

.nav-menu.active {
  background-color: #6070ff;
  color: white;
}

.nav-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  background-color: #6070ff;
  opacity: 90%;
  color: white;
  line-height: 44px;
  padding: 106px 28px 400px 28px;
  margin-top: -106px;
}

.nav-menu i {
  width: 100%;
}

#close-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  margin-right: 80px;
  font-size: 12px;
  color: white;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.headline {
  margin-top: 40px;
  letter-spacing: 0.4px;
  text-align: left;
  padding: 114px 24px 114px 24px;
}

.headline-text1 {
  margin-top: -46px;
  margin-bottom: 8px;
  color: #172b4d;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.4px;
}

.headline-text2 {
  color: #36b37e;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: inherit;
}

.headline-details {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: -20px;
  text-align: left;
  flex: none;
}

.let-connect {
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-align: left;
}

.icon-list {
  display: flex;
  font-size: 20px;
  margin-bottom: 14px;
  flex-direction: row;
}

.fa {
  color: #172b4d;
  font-size: 18px;
  padding: 1px;
  width: 30px;
  text-decoration: none;
}

.fa:hover {
  color: #36b37e;
}

/* EXPERIENCE SECTION  */
.grid-item-1,
.grid-item-2 {
  background: white;
  margin: 44px 24px 44px 24px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.work-section-image {
  margin-bottom: 12px;
  max-width: 100%;
  grid-row: 1;
}

.work-section-image:hover {
  transform: scale(1.02);
}

.client-info {
  margin-top: 20px;
  grid-row: 2;
  display: flex;
  align-items: center;
}

.client-name {
  grid-column: 3;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-right: 12px;
}

.client-section-counter {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.project-style,
.project-year {
  margin-right: 12px;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-info {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.language-used {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.tags {
  background: #ebebff;
  color: #6060ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  margin-right: 10px;
  padding: 5px 15px 5px 15px;
}

.button {
  background: #fff;
  flex: none;
  position: static;
  width: 124px;
  height: 48px;
  left: 1px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6060ff;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  order: 0;
  flex-grow: 0;
  margin: 1px 10px 10px 1px;
}

.button:hover {
  color: white;
  background: #6060ff;
}

.button:active {
  color: white;
  background: #2230d2;
}

/* ABOUT MYSELF SECTION */

.about-me {
  padding: 114px 24px 40px 24px;
  background: #fff;
  border-radius: 1px 100px 1px 1px;
}

.about-me-h2 {
  font-size: 40px;
  font-weight: 700;
}

.about-me-p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.knowledges {
  margin-top: 18px;
  width: 327px;
  top: 392px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
}

.knowledges-details {
  display: grid;
  grid-template-columns: 20% 10% 70%;
  background: #f7f7f9;
  height: 66px;
  width: 303px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}

.knowledge-img {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.knowledge-p {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* CONTACT ME  */
.contact-me-white {
  background: white;
  margin-top: -12px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6060ff;
  border-radius: 100px 1px 1px 1px;
  background-image: url('ressources/contact form shapes-mobile.png');
}

.contact-me-title {
  padding-top: 80px;
  color: white;
  text-align: center;
}

.contact-me-p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 1px 24px;
}

.form {
  flex-basis: auto;
}

#name,
#mail,
#msg {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 325px;
  height: 48px;
  border: 1px solid #cfd8dc;
}

#name:hover,
#mail:hover,
#msg:hover {
  transform: translate(5px);
}

.form-button {
  background: #fff;
  flex: none;
  position: static;
  width: 124px;
  height: 48px;
  left: 1px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6060ff;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.form-button:hover {
  color: #2230d2;
  background: white;
  border: 3px solid #2230d2;
}

/* GENERAL RULES */
ul {
  list-style-type: none;
  padding: 1px;
  margin: 1px;
}

h4 {
  margin: 1px;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

textarea {
  resize: vertical;
  min-height: 100px;
  text-indent: 15px;
  padding-top: 15px;
}

input {
  text-indent: 15px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 992px) {
  body {
    max-width: 100%;
  }

  .header {
    background-image: url('ressources/header-bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .topnav {
    width: 2000px;
    max-width: 100%;
    display: inline-grid;
    grid-template-columns:
      [first] 5%
      [line2] 20%
      [line3] 20%
      [line4] 50%
      [five] 5% [end];
    margin-right: 80px;
  }

  .topnav #myLinks {
    grid-column-start: 4;
    grid-column-end: 4;
    justify-self: center;
    display: flex;
  }

  .topnav a {
    margin-right: 32px;
    color: #344563;
  }

  .topnav a.icon {
    display: none;
  }

  .nav-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background: none;
  }

  .headline {
    margin-left: 20%;
    margin-right: 20%;
  }

  .grid-item-1 {
    margin-left: 142px;
    margin-right: 142px;
    grid-template-columns: 50% 45%;
    grid-template-rows: 40px 20px 80px 30px 90px;
    column-gap: 5%;
  }

  .grid-item-1 h4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end;
  }

  .grid-item-2 {
    margin-left: 142px;
    margin-right: 142px;
    grid-template-columns: 50% 45%;
    grid-template-rows: 40px 20px 80px 30px 90px;
    column-gap: 5%;
    direction: rtl;
  }

  .work-section-image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 1px;
    max-width: 100%;
    max-height: 260px;
  }

  .client-info {
    margin-top: 1px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
  }

  .project-info {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: start;
  }

  .language-used {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: start;
  }

  .button {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: end;
  }

  .about-me {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px repeat(6, 60px);
    column-gap: 30px;
  }

  .about-me-h2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end;
  }

  .about-me-p {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .social {
    margin-top: 12px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  #button {
    margin-top: 12px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .self-category {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .contact-me {
    background-image: url('ressources/contact-form-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact-me-p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
  }

  .language-kn {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .knowledges-details {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
  }

  #d1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  #d2 {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  #d3 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
}

/* Popup Design */
.popup-window {
  position: fixed;
  align-self: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

#popup {
  display: none;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup {
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 40px;
  padding: 0 16px;
}

.popup-image {
  object-fit: contain;
  padding: 20px;
  margin: 20px 0;
}

.popup-footer {
  display: flex;
  justify-content: center;
}

.popup-button {
  color: #6060ff;
}

.popup-button i {
  color: #6060ff;
}

.popup-button:hover i {
  color: white;
}

.popup-button:active i {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
