.body {
  /* Template 2-Mobile-Main */
  position: relative;
  width: 375px;

  /* Neutrals/N10 */
  background: #f7f7f9;
}

.header {
  /* Neutrals/N0 */
  background: #fff;
  border-radius: 1px 1px 1px 100px;

  /* header-background-image */
  background-image: url('ressources/header-shapes mobile.png');
}

.topnav {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.topnav #myLinks {
  display: none;
}

.logo {
  /* My Logo */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navmenu {
  align-content: center;
}

/* Style navigation menu links */
.topnav a {
  font-family: Poppins, sans-serif;
  color: #6070ff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: #6070ff;
  content: inherit;
  display: block;
  position: absolute;
  right: 0;
  align-self: center;
}

/* Add the background color on mouse-over */
.topnav a:hover {
  color: #36b37e;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}

/* Headline CSS */
.background-image {
  display: flex;
}

.headline {
  margin-top: 40px;
  font-family: Poppins, Roboto, sans-serif;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  padding: 114px 24px 114px 24px;
}

.headline-text1 {
  color: #172b4d;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: inherit;
}

.headline-text2 {
  color: #36b37e;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: inherit;
}

.headline-details {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  flex: none;
  margin-top: 24px;
}

.let-connect {
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-align: left;
}

/* Wrap list in a FLexbox */
.icon-list {
  display: flex;
  flex-direction: row;
}

/* Style all font awesome icons */
.fa {
  color: #172b4d;
  font-size: 18px;
  padding: 1px;
  width: 30px;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #36b37e;
}

.grid-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 30px 50px 30px;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.work-section-image {
  margin: 10px 10px 10px 1px;
}

.client-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.client-name {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-style .project-year {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.client-section-counter {
  padding-left: 10px;
  padding-right: 10px;
}

.project-info {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 5px;
}

.language-used {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
}

.tags {
  background: #ebebff;
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1px 10px;
  padding: 5px 15px 5px 15px;
}

.button {
  background: #fff;
  flex: none;
  position: static;
  width: 124px;
  height: 48px;
  left: 1px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  order: 0;
  flex-grow: 0;
  margin: 1px 10px 10px 1px;
}

.button:hover {
  color: white;
  background: #6070ff;
}

.button:active {
  color: white;
  background: #2230d2;
}

.about-me {
  padding: 100px 20px 100px 10px;
  background: #fff;
  border-radius: 1px 100px 1px 1px;
}

.about-me-h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.about-me-p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* .self-category {
  padding-top: 40px;
  height: 248px;
  width: 327px;
  top: 72px;
} */

.knowledges {
  display: block;
  width: 327px;
  top: 392px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  align-items: center;
}

.knowledges-details {
  display: grid;
  grid-template-columns: 20% 10% 70%;
  background: #f7f7f9;
  height: 66px;
  width: 303px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}

.knowledge-img {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.knowledge-p {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.contact-me-white {
  background: white;
  margin-top: -12px;
}

.contact-me {
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  background: #6070FF;
  border-radius: 100px 1px 1px 1px;

  /* header-background-image */
  background-image: url('ressources/contact form shapes-mobile.png');
}

.contact-me-title {
  padding-top: 80px;
  color: white;
  text-align: center;
}

.contact-me-p {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 1px 24px;
}

#name, #mail, #msg {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
}

textarea {
resize: vertical;
font-family: 'Poppins', sans-serif;
min-height: 170px;
text-indent: 15px;
padding-top: 15px;
}

input {
  text-indent: 15px;
  font-family: 'Poppins', sans-serif;

}

.form-button {
  margin-left: 24px;
  margin-right: 24px;
}
