.body {
  /* Template 2-Mobile-Main */
  position: relative;
  width: 375px;
  height: 5410px;

  /* Neutrals/N10 */
  background: #F7F7F9;
}

.header {
  /* header-background-mobile */
  position: flex;

  /* Neutrals/N0 */
  background: #FFFFFF;

  /* header-background-image */
  background-image: url('ressources/header-shapes mobile.png');
  position: absolute;
}

.topnav {

}

.nav-menu {

}

/* Headline CSS */
.background-image {
  display: flex;
}

.headline {
  font-family: Inter, Roboto, sans-serif;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  padding: 114px 24px 114px 24px;
}

.headline-text1 {
  color: #172b4d;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
}

.headline-text2 {
  color: #36b37e;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: center;
}

.headline-details {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  flex: none;
  margin: 24px 10px;
}

/* Wrap list in a FLexbox */
.icon-list {
  flex: auto;
}

/* Style all font awesome icons */
.fa {
  color: #172b4d;
  font-size: 18px;
  padding: 10px;
  width: 30px;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #36b37e;
}
